// colors

$color-black: #08211b;
$color-white: #eefbf8;

$color-blue-main: #1d4d67;
$color-blue-light-1: #245f7f;
$color-blue-light-2: #3183af;

$color-green-main: #29b797;
$color-green-dark-1: #176452;

$color-yellow-main: #ebcb63;
$color-red-main: #d05353;

// website width
$website-width: calc(1200px + 4rem);
