@import "config";

/* General */
body {
  padding-top: 100px;
}

p,
a {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  padding: 0;
}

h3 {
  font-size: 1.75rem;
}

/* Utilities */
.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.button {
  font-size: 1.2rem;
}

// MAIN NAV
#main-nav {
  height: 100px;
  position: fixed;

  .container {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    // canceling effect of this class which has use only for mobile
    &.menu-hidden {
      height: 100px;
    }

    // hiding mobile menu button
    #button-menu-mobile {
      display: none;
    }

    // logo
    #logo {
      display: block;
      margin: 0 2rem 0 0;
      flex: 1 1 11rem;

      img {
        max-width: 8.25rem;
      }
    }

    // main nav buttons
    #nav-buttons {
      margin-top: 0;
      width: 33rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      flex: 0 0 33rem;

      a {
        position: relative;
        display: inline-block;
        width: initial;
        padding: 0;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        color: $color-yellow-main;
        font-size: 1.5rem;
        font-family: "Cinzel", serif;
        // border-bottom: solid 1px transparent;

        &::after {
          content: "";
          background: $color-yellow-main;
          width: 0;
          height: 1px;
          position: absolute;
          bottom: 0;
          right: 0;
          transition: all 0.3s ease-in-out;
        }

        &:hover,
        &.active {
          text-decoration: none;
          // border-bottom: solid 1px $color-yellow-main;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

// -- Home PAGE --

// HERO
#hero-section {
  padding-top: 0;
  position: relative;
  padding-bottom: 0;

  background: url("/images/hero-table-computer-1x.jpg") left bottom / 100% 22rem no-repeat, url("/images/hero-computer-1x.png") 90% 5rem / 45% no-repeat;

  .hero-positioning {
    margin-bottom: 5rem;

    .container {
      h1 {
        margin: 2rem 0;
        width: 50%;
      }

      p {
        font-size: 2rem;

        &:last-of-type {
          display: block;
        }
      }

      #services-buttons {
        margin-top: 7.5rem;
        justify-content: space-around;

        .button {
          padding: 1.5rem 2.5rem;
        }
      }
    }
  }
}

// STATS
#stats {
  .container {
    flex-flow: row nowrap;
    justify-content: space-around;

    .stat {
      width: 25%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4fr 5fr;
      // grid-row-gap: 1rem;
      justify-items: center;
      // align-items: flex-start;
      padding: 2rem 0;

      i {
        display: block;
        line-height: 5rem;
        font-size: 3.5rem;
        grid-row: 1 / span 1;
        // background: blue;
      }

      &-number {
        font-size: 4rem;
        font-weight: bold;
        // background: green;
      }

      &-text {
        font-size: 1.5rem;
        text-align: center;
        grid-column: 1 / span 2;
        // background: red;
      }
    }
  }
}

// SUCCESS STORIES
#success-stories {
  margin-top: 4rem;
  padding-bottom: 1rem;

  .success-story {
    display: flex;
    align-items: center;
    padding: 3.5rem 0;

    &:nth-child(odd) {
      flex-flow: row nowrap;
    }

    &:nth-child(even) {
      flex-flow: row-reverse nowrap;
    }

    img {
      // margin-left: 0; // canceling margin set on mobile for img
      margin: 0 calc((100vw - 4rem) / 12);
      height: calc((100vw - 4rem) / 12 * 4 - 1rem);
      width: calc((100vw - 4rem) / 12 * 4 - 1rem); // 4 columns on a grid with 12 columns, a gutter or 1rem, and margins of 2rem
    }

    p {
      width: calc((100vw - 4rem) / 12 * 6 - 1rem);
    }
  }
}

// TESTIMONIALS
#testimonials-container {
  #testimonials {
    .testimonial {
      &-message {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      &-name {
        p {
          font-size: 1.7rem;
        }

        img {
          width: 6.25rem;
          height: 6.25rem;
        }
      }
    }
  }
}

// FOOTER
#main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  section {
    .main-footer-content {
      width: 15rem;
    }
  }

  &-right h3 {
    margin: 0rem 0 2rem; // same margin-top as middle
  }

  &-credit {
    grid-column: 1 / span 2;
  }
}

// -- About Me PAGE --

// ABOUT ME
#about-me {
  padding-top: 6rem;
  padding-bottom: 2rem;

  article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;

    h2 {
      margin: 0 auto;
      padding: 0;
    }

    img {
      width: 16rem;
      margin: 0 auto;
      padding: 0;
    }

    p {
      margin: 0.5rem 0;
      grid-column: 1 / span 2;

      &:first-of-type {
        margin-top: 6rem;
      }
    }
  }
}

// OUTSIDE OF SCHOOL
#outside-of-school {
  h2 {
    width: 100%;
    margin: 2rem 0 0;
    padding: 0;
    text-align: center;
  }

  article {
    margin-bottom: 0;
    padding: 3rem 0;
    display: grid;

    grid-row-gap: 1rem;

    img {
      margin: 0 calc((100vw - 4rem) / 12);
      height: calc((100vw - 4rem) / 12 * 4 - 1rem);
      width: calc((100vw - 4rem) / 12 * 4 - 1rem); // 4 columns on a grid with 12 columns, a gutter or 1rem, and margins of 2rem
      grid-area: image;
    }

    main {
      width: calc((100vw - 4rem) / 12 * 6 - 1rem);
      grid-area: text;
      align-self: center;
    }

    h3 {
      margin: 0 calc((100vw - 4rem) / 12);
      width: calc((100vw - 4rem) / 12 * 4 - 1rem); // 4 columns on a grid with 12 columns, a gutter or 1rem, and margins of 2rem
      align-self: flex-end;
      grid-area: title;
    }

    // positioning elements inside grid
    &:nth-child(odd) {
      grid-template-areas:
        "text title"
        "text image";
    }
    &:nth-child(even) {
      grid-template-areas:
        "title text"
        "image text";
    }
  }
}

// -- Services PAGE --

// HEADER
#services-header {
  h2 {
    margin: 3rem auto;
  }
}

// SERVICES
#services {
  .service {
    width: 28rem;
    padding: 3rem 2rem;
    margin: 0 auto 3rem;
  }
}

// -- service PAGEs (private tuition, proof reading, teaching resources)
.service-header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;

  h2 {
    margin-right: 4rem;
  }

  p {
    text-align: left;
  }
}

.service-section {
  article {
    padding: 0;
    margin-bottom: 4rem;

    &#why-me {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;

      img {
        height: calc((100vw - 4rem) / 12 * 5 - 1rem);
        width: calc((100vw - 4rem) / 12 * 5 - 1rem); // 5 columns on a grid with 12 columns, a gutter or 1rem, and margins of 2rem
        margin: 0;
        background: lightgray;
      }

      main {
        margin-right: 1rem;

        h3 {
          margin: 0;
        }
      }
    }

    &#teaching-resources-list {
      min-height: 40rem;

      h3 {
        margin-bottom: 1rem;
      }

      main {
        padding: 0 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        .folder {
          width: 33.3%;
          &::before {
            font-size: 1.5rem;
          }

          .subfolder {
            &::before {
              font-size: 1.5rem;
            }

            .file {
              &::before {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

.steps {
  margin-top: 4rem;
  padding: 1rem;
  background: $color-blue-main;
  color: $color-white;

  .step {
    padding: 2rem 0;
    width: 35rem;
    margin: 0 auto;

    header {
      display: flex;
      margin-bottom: 2rem;
      justify-content: center;

      i {
        display: inline-block;
        font-size: 2rem;
        margin: 0 1rem 0 0;
      }
    }
  }
}

// -- Contact PAGE --

// Contact Form
#contact-form {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;

    textarea {
      grid-column: 1 / span 2;
    }

    button {
      width: 100%;
    }
  }
}
